@import '../../styles/_color.scss';

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;

  clip-path: polygon(50% 0%, 100% 0, 100% 88%, 81% 100%, 0 100%, 0 0);

  position: relative;

  width: 21rem;
  height: 15rem;

  padding: 0 2.2rem;

  &:hover .close-icon {
    display: block;
  }

  .close-icon {
    position: absolute;
    top: 5px;
    right: 6px;
    display: none;

    font-size: 3rem;

    width: 3rem;
    height: 3rem;

    cursor: pointer;
  }

  &:before {
    content: '';

    position: absolute;
    bottom: 0;
    right: 0;
    display: block;

    width: 4rem;
    height: 2rem;

    background: black;
    opacity: 0.2;
  }

  &--feature {
    background: $blue-light;
  }

  &--update {
    background-color: $orange;
  }

  &--bug-fix {
    background-color: $salmon;
  }

  &--research {
    background-color: $purple;
  }

  &--content {
    background-color: $green;
  }

  &--dragging {
    background-color: lightgreen;
  }

  &__type {
    font-family: 'Handlee', cursive;
    font-size: 4rem;
    color: $dark-blue;
    text-align: left;
  }

  &__duration {
    font-family: 'Handlee', cursive;
    font-size: 3rem;
    color: $white;
    text-align: left;
  }

  &__severity {
    font-family: 'Handlee', cursive;
    font-size: 3rem;
    color: $white;
    text-align: cenleftter;
  }
}
